html{
    background-image: url("./header-image.jpg");
    color: black; 
}

header{
    font-family: 'aladin';
    text-align: center;
    height: 110px; 
    }

 .logo{
     position: absolute;
     left:10px;
     height: 94px;
    }

    
 nav{
    position:static; 
    top: 100px; 
   display: flex;
   font-family: "aladin";
   justify-content: space-evenly;
   background-color: white;
   opacity: 70%;
   }   
   
   #grid-container{
       padding:10px;
       position: relative;
       top:20px; 
       display: flex;
       flex-direction: column;
       border: 5px solid black; 
   }

   #grid-container>div{
       border:5px solid black; 
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       padding:5px; 
   }
   .education{
       border: 5px solid black; 
       display: flex; 
       flex-direction: column;
   }

   .gear{
       border:5px solid black; 
       display:flex; 
       flex-direction: column;
   }

   .travel{
       border: 5px solid black; 
       display: flex; 
       flex-direction: column;
       justify-content: space-between;
   }

   .travel>span{
       margin:10px; 
   }

   .art{
       float: left;
       width:100px; 
   }



span{
    border: 5px solid black;
    background-color: white;
    opacity: 70%;

}
h2{
    text-align: center;
}
sub {
    vertical-align: sub;
    line-height: 0.7;
    font-size: smaller;
 
  }
  h6{
      color: red;
  }
  footer{
      padding:10px; 
      line-height: .5;
      background-color: black;
      color: white;
      text-align: center;
  }
@media only screen and (min-width:768px){
    #grid-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:5px; 
    }
}